.cart-section {
    width: 280px;
    background-color: white;
    height: 200px;
    position: absolute;
    bottom: -200px;
    right: 13%;
    z-index: 1;
    box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
}

.title-cart {
    font-size: 16px;
    margin-left: 20px;
}

.product-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.product-cart p {
    font-size: 12px;
}

.img-cart {
    width: 45px;
    border-radius: 10px;
}

.empty {
    color: gray;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hr {
    width: 100%;
}

.trash img {
    cursor: pointer;
}

.button-checkout {
    margin: 15px auto;
    width: 90%;
}

.button-checkout button {
    width: 100%;
    height: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ff7500;
    cursor: pointer;
}

.span {
    font-weight: bold;
    font-size: 14px;
}

@media(max-width: 790px) {
    .cart-section {
        bottom: -210px;
        left: 50%;
        transform: translateX(-50%);
    }
}