.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
}

.logo-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu ul>li {
    cursor: pointer;
    color: rgb(107, 107, 107);
}

.close-nav {
    display: none;
}

.cart-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart img {
    width: 23px;
}

.number-cart {
    position: absolute;
    top: -20px;
    right: -7px;

}

.number-cart p {
    background-color: orange;
    color: white;
    padding: 2px 7px;
    font-size: 10px;
    border-radius: 25px;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil img {
    width: 45px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.perfil img:hover {
    border: 2px solid orange;
    border-radius: 50%;
}


.menu-hamburger {
    display: none;
}



@media(max-width: 790px) {
    .menu-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: 0;
        background: transparent;
        gap: .65rem;
    }

    .burger>div {
        background: black;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }

    .close {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: 0;
        background: transparent;
        gap: .65rem;
    }

    .close>div {
        background: black;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }

    .close div:first-child {
        transform: rotate(45deg);
    }

    .close div:nth-child(2) {
        opacity: 0;
    }

    .close div:nth-child(3) {
        transform: rotate(-45deg);
    }


    .menu {
        position: fixed;
        top: 89px;
        left: -100%;
        bottom: 0;
        z-index: 111;
        transition: all 700ms ease-in-out;
        display: flex;
        align-items: start;
        width: 35%;
    }


    .show-menu {
        position: fixed;
        width: 35%;
        top: 89px;
        left: 0;
        bottom: 0;
        background-color: white;
        z-index: 111;
        transition: all 700ms ease-in-out;
    }

    .menu ul {
        display: flex;
        flex-direction: column
    }

    .show-menu ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .show-menu ul>li {
        cursor: pointer;
        color: rgb(107, 107, 107);
    }
}